* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

span {
  /* display: inline-block; */
  color: tomato;
  padding: 5px;
  border: 1px solid crimson;
}

/* .container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}

.child {
  width: 150px;
  height: 150px;
  padding: 50px;
  background-color: aqua;
} */
